@font-face {
    font-family: 'hattori_hanzolight';
    src: url('Font/Hattori_Hanzo-webfont.eot');
    src: url('Font/Hattori_Hanzo-webfont.eot?#iefix') format('embedded-opentype'),
         url('Font/Hattori_Hanzo-webfont.woff2') format('woff2'),
         url('Font/Hattori_Hanzo-webfont.woff') format('woff'),
         url('Font/Hattori_Hanzo-webfont.ttf') format('truetype'),
         url('Font/Hattori_Hanzo-webfont.svg#hattori_hanzolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

body
{
    font-family:comic sans ms,arial,'hattori_hanzolight';
    color: white;
    background: #2d3943;
    font-size: 1.1em;
}

#block
{
    display: flex;
    flex-direction: column;
}

header
{
    background: #e5c29e ;
    color: black;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    margin-top: 30px;
    box-shadow: 0px 5px 5px #e5c29e;  
    position: relative;

}

img
{
    border-radius: 150px;

}
img:hover
{
    width: 300px;
    height: 300px;
}

#teteG ul
{
   list-style-type: none;
   font-size: 1.1;
   padding-left: 0;
   padding-top: 0;

}

#teteG p
{
    font-weight: bold;
}


#teteD
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#LigneB
{
    float: left;
    display: flex;
    background-color: #2687db;
    padding: 30px;
    padding-left: 40px;
    padding-top: 100%;
    padding-bottom: 0px;
    margin-left: 60px;
    margin-right: 50px;
    position: fixed;
}



strong
{
    text-decoration: underline;
}

#presentation p
{
  text-align: center; 
  font-size: 1.4em;
}

article h1, footer h1
{
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
    text-decoration: underline;
    margin-bottom: 40px;
}

article p, footer
{
    margin-left: 250px;
}



#experiences
{
    margin-top: 100px;
}

#experienceT
{
    text-align: left;
}

#formations
{
    margin-top: 100px;
}



#loisirs
{
    display: flex;
    justify-content: flex-start;

}

.l1
{
    margin-right:50px ;
    padding-left: 0;
   padding-top: 0
}

.l2
{
    margin-right: 50px;
}